@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.relogio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total da tela */
}

.relogio-time {
  font-size: 20em; /* Tamanho da fonte grande */
  font-family: Arial, sans-serif; /* Fonte e estilo da fonte */
  animation: rainbow 10s infinite; /* Nome da animação, duração e repetição infinita */
}

@keyframes rainbow {
  0% { color: #ff0000; } /* Vermelho */
  14% { color: #ff7f00; } /* Laranja */
  28% { color: #ffff00; } /* Amarelo */
  42% { color: #00ff00; } /* Verde */
  56% { color: #0000ff; } /* Azul */
  70% { color: #4b0082; } /* Índigo */
  84% { color: #8a2be2; } /* Violeta */
  100% { color: #ff0000; } /* Voltando ao Vermelho */
}